:root { color-scheme: light; }
* { box-sizing: border-box; }
body { margin: 0; font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif; background: #f9fafb; color: #111827; }
button { cursor: pointer;}
.app-root{
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: 'HSE Sans', system-ui, sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

@font-face {
  font-family: 'HSE Sans';
  src: url('/HSESans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
